Repository AdairBento/mag-system-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

.lintstagedrc.json:

{
  "*.{json,md,yml,yaml,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write"],

  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/web exec eslint --fix --"],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/api exec eslint --fix --"],
  "packages/database/src/**/*.{js,jsx,ts,tsx}": [
    "pnpm --dir packages/database exec eslint --fix --"
  ],
  "packages/shared/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir packages/shared exec eslint --fix --"]
}

fix(clientes): restore motoristas page - was accidentally deleted
  apps/web/src/app/(app)/clientes/motoristas/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(database): add Transacao model to Prisma schema
  packages/database/prisma/schema.prisma
Due: none

fix(database): add missing closing brace to User model in Prisma schema
  packages/database/prisma/schema.prisma
Due: none

fix(database): remove extra closing brace from schema.prisma
  packages/database/prisma/schema.prisma
Due: none

Remove duplicate index constraint in Client model
  packages/database/prisma/fix(database): remove duplicate index constraint in Client model
Due: none

fix(database): restore schema.prisma file from 347f6cf
  packages/database/prisma/schema.prisma
Due: none

feat(common): add global exception filter with structured error logging
  packages/api/src/common/exceptions/http-exception.filter.ts
Due: prettier --write

feat(common): add custom exception classes (Business, NotFound, Unauthorized, Forbidden)
  packages/api/src/common/exceptions/business.exception.ts
Due: prettier --write

Implement AuthModule with JWT and Passport integration
  packages/api/src/auth/auth.module.ts
Due: prettier --write

feat(auth): implement AuthService for user authentication (login, register, validate)
  packages/api/src/auth/auth.service.ts
Due: prettier --write

feat(auth): implement JWT authentication strategy with Passport
  packages/api/src/auth/jwt.strategy.ts
Due: prettier --write

feat(auth): add AuthController with login and register endpoints plus DTOs
  packages/api/src/auth/auth.controller.ts
Due: prettier --write

feat(auth): add JwtAuthGuard for protecting routes with JWT authentication
  packages/api/src/auth/guards/jwt-auth.guard.ts
Due: prettier --write

Implement RolesGuard for role-based access control
  packages/api/src/auth/guards/roles.guard.ts
Due: prettier --write

Add roles decorator for setting metadata in NestJS
  packages/api/src/auth/decorators/roles.decorator.ts
Due: prettier --write

Add Public decorator for route metadata
  packages/api/src/auth/decorators/public.decorator.ts
Due: prettier --write

Add CurrentUser decorator for retrieving user from request
  packages/api/src/auth/decorators/current-user.decorator.ts
Due: prettier --write

Enhance JwtAuthGuard to support public routes
  packages/api/src/auth/guards/jwt-auth.guard.ts
Due: prettier --write

feat(auth): add LoginDto with validation and Swagger decorators
  packages/api/src/auth/dto/login.dto.ts
Due: prettier --write

feat(auth): add RegisterDto with validation and Swagger decorators
  packages/api/src/auth/dto/register.dto.ts
Due: prettier --write

docs: create comprehensive development diary with phase documentation
  DEVELOPMENT_DIARY.md
Due: prettier --write

feat(common): add custom exception classes (Business, NotFound, Unauthorized, Forbidden)
  apps/api/src/common/exceptions/business.exception.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(common): add global exception filter with structured error logging
  apps/api/src/common/exceptions/http-exception.filter.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

chore(clients): remove backup file clients.service.ts.backup
  apps/api/src/modules/clients/clients.service.ts.backup
Due: none

docs: atualizar registro de atividades - limpeza de backup
  e
Due: none

fix(prisma): resolve duplicate index names for email fields
  packages/database/prisma/schema.prisma
Due: none

fix: restaurar projeto completo após reset
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/decorators/current-user.decorator.ts
  apps/api/src/auth/decorators/public.decorator.ts
  apps/api/src/auth/decorators/roles.decorator.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/auth/dto/register.dto.ts
  apps/api/src/auth/guards/jwt-auth.guard.ts
  apps/api/src/auth/guards/roles.guard.ts
  apps/api/src/auth/jwt.strategy.ts
  apps/api/src/common/exceptions/http-exception.filter.ts
  apps/api/src/config/env.validation.ts
  apps/api/src/main.ts
  apps/api/src/modules/financeiro/financeiro.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/web/src/components/ui/Badge.tsx
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/Card.tsx
  apps/web/src/components/ui/Input.tsx
  apps/web/src/components/ui/Modal.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --
