Repository AdairBento/mag-system-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

chore: seal baseline gates (typecheck excludes tests, lint fixed, prisma schema, strict check)
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/tsconfig.typecheck.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  scripts/check.ps1
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

chore(husky): run gates on pre-push
  .husky/pre-push
Due: none

chore(git): enforce LF for husky hooks
  .gitattributes
Due: none

chore: simplify check (prisma schema from root)
  scripts/check.ps1
Due: none

chore(clientes): remover arquivos não usados (tabs, drivers, .bak)
  _BACKUPS_20260109/app.module.ts
  _BACKUPS_20260109/client-form-modal.tsx
  _BACKUPS_20260109/client-table.tsx
  _BACKUPS_20260109/clientes.page.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/client-filters.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/client-filters.tsx.20260109-155007.bak
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/client-form-modal.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/client-table.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/client-table.tsx.20260109-155008.bak
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/driver-filters.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/driver-filters.tsx.20260109-155008.bak
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/driver-form-modal.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/driver-table.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/driver-table.tsx.20260109-155009.bak
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/migrate-driver-modal.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/_components/tabs.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/clientes/_components/client-filters.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/clientes/_components/client-form-modal.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/clientes/_components/client-table.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/clientes/page.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/page.tsx
  _BACKUPS_20260109/clientes_ANTES_LIMPAR/page.tsx.20260109-155010.bak
  _BACKUPS_20260109/clients.ts
  _BACKUPS_20260109/http.ts
  _BACKUPS_20260109/main.ts
Due: prettier --write

chore: remover linhas deprecadas do Husky v9
  .husky/pre-push
Due: none

chore: initial commit - projeto MAG completo local
  .backups/checks/dupla-checagem-clientes-20260111-124123.log
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/types.ts
  apps/web/src/app/(app)/clientes/_components/vehicle-autocomplete.tsx
  apps/web/src/app/(app)/clientes/page.tsx
  apps/web/src/lib/etchAPI.ts
  apps/web/src/lib/fipe.ts
  scripts/dupla-checagem-clientes.ps1
  scripts/implement-professional-duplicate-validation.ps1
  scripts/patch-web-client-form-modal-eslint-disable-any.safe.ps1
  scripts/patch-web-client-form-modal-remove-any-fixed.ps1
  scripts/patch-web-client-form-modal-remove-any.ps1
  scripts/patch-web-client-modal-legacy-ui-step1_1.ps1
  scripts/patch-web-clientes-page-normalize-clients-fixed.ps1
  scripts/patch-web-clientes-page-normalize-clients.ps1
  scripts/patch-web-clientes-page-normalize-clients.safe.ps1
  scripts/patch-web-vehicle-fipe-autocomplete.ps1
  scripts/patch-web-vehicle-fipe-autocomplete.safe.ps1
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix: renomear etchAPI.ts para fetchAPI.ts
  apps/web/src/lib/fetchAPI.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix: adicionar sonner e corrigir imports
  apps/web/package.json
  apps/web/src/app/(app)/clientes/page.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix: corrigir imports, anti-patterns React e tipagens TypeScript
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/page.tsx.backup_225323
  apps/web/src/lib/api/http.ts
  apps/web/src/lib/fetchAPI.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

chore: remover arquivo backup
  apps/web/src/app/(app)/clientes/page.tsx.backup_225323
Due: none

chore: remover arquivos backup e atualizar .gitignore
  .gitignore
  apps/web/src/app/(app)/clientes/_components/client-filters.tsx.backup_104145
  apps/web/src/app/(app)/clientes/page.tsx.backup_104145
  apps/web/src/app/(app)/layout.tsx.20260109-155007.bak
  apps/web/src/lib/api/drivers.ts.backup_104145
  apps/web/src/lib/api/http.ts.backup_104145
Due: none

fix: remove any type do conflictData em driver-form-modal
  apps/api/src/app.module.ts
  apps/api/src/clients/clients.module.ts
  apps/api/src/clients/clients.service.ts
  apps/api/src/drivers/drivers.controller.ts
  apps/api/src/drivers/drivers.module.ts
  apps/api/src/drivers/drivers.service.ts
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/migrate-driver-modal.tsx
  apps/web/src/app/(app)/clientes/_components/types.ts
  apps/web/src/app/(app)/clientes/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/types/client.ts
  apps/web/src/types/driver.ts
  auto-fix-mag.ps1
  packages/database/package.json
  packages/database/prisma/migrations/20260112111126_add_clients_drivers_with_cnh/migration.sql
  packages/database/prisma/migrations/20260112175110_make_cnh_required/migration.sql
  packages/database/prisma/migrations/20260113030502_add_responsible_fields_to_client/migration.sql
  packages/database/prisma/migrations/20260113031209_make_email_phone_required/migration.sql
  packages/database/prisma/migrations/20260113105447_fix_datetime_fields/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
  packages/database/src/prisma.module.ts
  packages/database/src/prisma.service.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
  scripts/auto-fix-mag.ps1
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --

fix: corrige TODOS os erros TypeScript e ESLint - remove any types
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/driver-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/driver-table.tsx
  apps/web/src/app/(app)/clientes/_components/migrate-driver-modal.tsx
  apps/web/src/app/(app)/clientes/page.tsx
  apps/web/src/lib/api-error-helper.ts
  apps/web/src/types/driver.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona API service para veículos
  apps/web/src/lib/api/vehicles.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona componente VehicleTable
  apps/web/src/app/(app)/veiculos/_components/vehicle-table.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona componente VehicleFormModal com validação Zod
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona exports do módulo veiculos
  apps/web/src/app/(app)/veiculos/_components/index.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: implementa página completa de veículos com CRUD
  apps/web/src/app/(app)/veiculos/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: atualiza página de veículos com stats cards e layout completo
  apps/web/src/app/(app)/veiculos/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: atualiza modal de veículos com formulário completo
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona campos de valores (diária, semanal, mensal) com validação obrigatória
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

refactor: refina modal com melhor UI/UX - fundo laranja vibrante, botão verde, focus states
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

refactor: adiciona toasts (sonner), melhor tratamento de erro, estado vazio amigável
  apps/web/src/app/(app)/veiculos/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(database): adiciona model Vehicle ao schema com todos os campos
  packages/database/prisma/schema.prisma
Due: none

feat(api): cria módulo completo de veículos (DTOs, Entity, Service, Controller, Module)
  apps/api/src/vehicles/dto/create-vehicle.dto.ts
  apps/api/src/vehicles/dto/update-vehicle.dto.ts
  apps/api/src/vehicles/entities/vehicle.entity.ts
  apps/api/src/vehicles/vehicles.controller.ts
  apps/api/src/vehicles/vehicles.module.ts
  apps/api/src/vehicles/vehicles.service.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(api): registra VehiclesModule no AppModule
  apps/api/src/app.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(api): cria PrismaModule e PrismaService
  apps/api/src/prisma/prisma.module.ts
  apps/api/src/prisma/prisma.service.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(api): adiciona PrismaModule ao AppModule
  apps/api/src/app.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

docs: adiciona .env.example com DATABASE_URL para Prisma
  packages/database/.env.example
Due: none

feat: adiciona script PowerShell de setup automático
  README-SETUP.md
  scripts/setup-database.ps1
  scripts/start-dev.ps1
Due: prettier --write

fix: restaura models Client e Driver no schema.prisma
  packages/database/prisma/schema.prisma
Due: none

fix: correção ESLint react-hooks + auditoria 100% ✅
  README-SETUP.md
  apps/api/package.json
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/vehicles/dto/create-vehicle.dto.ts
  apps/api/src/vehicles/vehicles.controller.ts
  apps/api/src/vehicles/vehicles.service.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-table.tsx
  apps/web/src/app/(app)/veiculos/page.tsx
  apps/web/src/lib/api/vehicles.ts
  audit-reports/controllers.txt
  audit-reports/dependencies.txt
  audit-reports/lint.txt
  audit-reports/migrations.txt
  audit-reports/modules.txt
  audit-reports/schema.txt
  audit-reports/services.txt
  audit-reports/typecheck.txt
  docker-compose.yml
  package.json
  packages/database/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --

feat(database): adiciona model Client ao schema Prisma
  packages/database/prisma/schema.prisma
Due: none

feat(api): cria DTOs completos para o módulo de clientes
  apps/api/src/clients/dto/create-client.dto.ts
  apps/api/src/clients/dto/filter-client.dto.ts
  apps/api/src/clients/dto/update-client.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(api): implementa Entity e Service completo para clientes com CRUD
  apps/api/src/clients/clients.service.ts
  apps/api/src/clients/entities/client.entity.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(api): implementa Controller completo e atualiza Module com Prisma
  apps/api/src/clients/clients.controller.ts
  apps/api/src/clients/clients.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

refactor(web): adiciona toasts, loading, erro e estado vazio na página de clientes
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

Path conditions:
  prettier --write: (any of: *.{json,md,yml,yaml,css}) or (any of: *.{js,jsx,ts,tsx})
  pnpm --dir apps/web exec eslint --fix --: any of: apps/web/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir apps/api exec eslint --fix --: any of: apps/api/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir packages/database exec eslint --fix --: any of: packages/database/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir packages/shared exec eslint --fix --: any of: packages/shared/src/**/*.{js,jsx,ts,tsx}
