Repository AdairBento/mag-system-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

.lintstagedrc.json:

{
  "*.{json,md,yml,yaml,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write"],

  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/web exec eslint --fix --"],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/api exec eslint --fix --"],
  "packages/database/src/**/*.{js,jsx,ts,tsx}": [
    "pnpm --dir packages/database exec eslint --fix --"
  ],
  "packages/shared/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir packages/shared exec eslint --fix --"]
}

fix(drivers): implement pagination and search for drivers listing
  apps/api/src/modules/clients/clients.service.ts
  apps/api/src/modules/drivers/drivers.controller.ts
  apps/api/src/modules/drivers/drivers.service.ts
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat: add weeklyRate/monthlyRate fields and fix e2e tests
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/decorators/current-user.decorator.ts
  apps/api/src/modules/auth/dto/auth-response.dto.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/auth/dto/register.dto.ts
  apps/api/src/modules/auth/entities/user.entity.ts
  apps/api/src/modules/auth/guards/auth.guard.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/auth/strategies/local.strategy.ts
  apps/api/src/modules/clients/dto/filter-client.dto.ts
  apps/api/src/modules/clients/entities/client.entity.ts
  apps/api/src/modules/drivers/dto/migrate-driver.dto.ts
  apps/api/src/modules/vehicles/vehicles.service.ts
  apps/api/test/e2e/vehicles.e2e-spec.ts
  packages/database/prisma/migrations/20260119202549_add_user_model/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix: correct e2e tests for clients and drivers modules
  apps/api/src/modules/drivers/drivers.service.ts
  apps/api/test/e2e/clients.e2e-spec.ts
  apps/api/test/e2e/drivers.e2e-spec.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix: add missing weeklyRate and monthlyRate fields to Vehicle entity
  apps/api/src/modules/vehicles/entities/vehicle.entity.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(database): add weeklyRate, monthlyRate and contract fields
  packages/database/prisma/migrations/20260120225846_add_weekly_monthly_rates_and_contract/migration.sql
  packages/database/prisma/schema.prisma
Due: none

feat(types): add form and vehicle type definitions
  apps/web/src/types/forms.ts
  apps/web/src/types/vehicle.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

refactor(frontend): improve UI/UX for Clients, Drivers and Vehicles modules
  apps/web/package.json
  apps/web/src/app/(app)/clientes/page.tsx.backup
  apps/web/src/app/(app)/veiculos/_components/index.ts
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_20260120_035100
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_auto
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_fipe
  apps/web/src/app/(app)/veiculos/_components/vehicle-table.tsx
  apps/web/src/app/(app)/veiculos/page.tsx
  apps/web/src/components/drivers/DriverForm.example.tsx
  apps/web/src/components/modals/DriverMigrationModal.tsx
  apps/web/src/hooks/useTranslation.ts
  apps/web/src/lib/api/vehicles.ts.backup_20260120_035100
  apps/web/src/lib/fipe.ts
  apps/web/src/lib/fipe.ts.backup_20260120_035100
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

docs: update I18N and driver migration documentation
  docs/DRIVER_MIGRATION.md
  packages/database/cleanup-drivers.ts
Due: prettier --write

chore: update dependencies and configs
  pnpm-lock.yaml
Due: prettier --write

chore: update gitignore to exclude backup files
  .gitignore
Due: none

feat(rentals): add rentals module with return and cancel endpoints
  .github/workflows/ci.yml
  apps/api/src/app.module.ts
  apps/api/src/modules/rentals/dto/create-rental.dto.ts
  apps/api/src/modules/rentals/dto/filter-rental.dto.ts
  apps/api/src/modules/rentals/dto/update-rental.dto.ts
  apps/api/src/modules/rentals/rentals.controller.ts
  apps/api/src/modules/rentals/rentals.module.ts
  apps/api/src/modules/rentals/rentals.service.ts
  apps/web/package.json
  apps/web/src/app/(app)/locacoes/_components/rental-form-modal.tsx
  apps/web/src/app/(app)/locacoes/_components/rental-table.tsx
  apps/web/src/app/(app)/locacoes/_components/return-modal.tsx
  apps/web/src/app/(app)/locacoes/page.tsx
  apps/web/src/lib/api/rentals.ts
  packages/database/package.json
  packages/database/prisma/migrations/20260121061149_add_discount_and_isactive_to_rentals/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  setup-rentals.ps1
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --

fix(client-form): corrigir mapeamento de campos CNH
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/_components/vehicle-autocomplete.tsx
  apps/web/src/app/(app)/locacoes/page.tsx
  apps/web/src/lib/api/vehicles.ts.backup_20260120_035100
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(clientes): adicionar tipos explícitos aos callbacks de .map()
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

ci: add development branch to CI workflow
  .github/workflows/ci.yml
Due: prettier --write

revert: restore original field names to match Prisma schema
  CHANGELOG.md
  apps/web/src/app/(app)/clientes/page.tsx.backup3
  apps/web/src/app/(app)/locacoes/_components/rental-form-modal.tsx
  apps/web/src/app/(app)/locacoes/_components/rental-table.tsx
  apps/web/src/app/(app)/locacoes/_components/return-modal.tsx
  apps/web/src/i18n/locales/pt-BR.json
  apps/web/src/lib/api/rentals.ts
  apps/web/src/lib/fipe.ts.backup_20260120_035100
  apps/web/src/types/client.ts
  e
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

test: add rentals E2E tests
  apps/api/test/e2e/rentals.e2e-spec.ts
Due: prettier --write

Add helmet and ThrottlerGuard for security enhancements
  apps/api/src/main.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(app.module): configure ThrottlerModule with rate limiting (10req/60s)
  apps/api/src/app.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(logger): implement Winston structured logging with file rotation
  apps/api/src/common/logger/logger.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(config): add environment validation with Joi schema
  apps/api/src/config/env.validation.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(health): add advanced health check with DB and memory metrics
  apps/api/src/health/health.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

perf(prisma): add database indexes for performance optimization
  packages/database/prisma/schema.prisma
Due: none

chore(env): create comprehensive .env.example with all configuration options
  .env.example
Due: none

docs: comprehensive improvement summary for production release
  docs/IMPROVEMENTS-2026-01-22.md
Due: prettier --write

feat(guards): add JWT and Roles authentication guards
  apps/api/src/common/guards/jwt-auth.guard.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(decorators): add Roles decorator for RBAC
  apps/api/src/common/decorators/roles.decorator.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

chore(final): add production deployment guide - System 95% ready
  DEPLOYMENT-READY.md
Due: prettier --write

Add CacheModuleConfig for Redis caching
  apps/api/src/modules/cache/cache.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(clientes): add motoristas management page under clients module
  apps/web/src/app/(app)/clientes/motoristas/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(locacoes): implement rental management page with full CRUD operations
  apps/web/src/app/(app)/locacoes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(diagnostico): implement diagnostics management with preventive/corrective maintenance tracking
  apps/web/src/app/(app)/diagnostico/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(financeiro): implement financial management with receipts, payments and balance tracking
  apps/web/src/app/(app)/financeiro/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

Delete apps/web/src/app/(app)/clientes/motoristas directory
  apps/web/src/app/(app)/clientes/motoristas/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(financeiro): add transacao entity for financial module
  apps/api/src/modules/financeiro/entities/transacao.entity.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(financeiro): add financeiro module with NestJS configuration
  apps/api/src/modules/financeiro/financeiro.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(financeiro): add financeiro service with complete CRUD operations
  apps/api/src/modules/financeiro/financeiro.service.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(financeiro): add financeiro controller with complete REST API endpoints
  apps/api/src/modules/financeiro/financeiro.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(financeiro): add DTOs for transaction management
  apps/api/src/modules/financeiro/dto/create-transacao.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(financeiro): add UpdateTransacaoDto for transaction updates
  apps/api/src/modules/financeiro/dto/update-transacao.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(app.module): register FinanceiroModule in main application module
  apps/api/src/app.module.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --
