Repository AdairBento/mag-system-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

fix: corrige type error VehicleStatus !== 'ALL'
  apps/api/src/vehicles/vehicles.service.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat: sistema de auditoria enterprise + NestJS 11 + gitleaks + CI/CD
  .github/workflows/ci.yml
  .gitignore
  .gitleaksignore
  .prettierignore
  apps/api/package.json
  apps/api/tsconfig.json
  docker-compose.yml
  docs/AUDIT.md
  package.json
  packages/database/package.json
  packages/database/src/prisma.module.ts
  packages/database/src/prisma.service.ts
  pnpm-lock.yaml
  scripts/audit-all.ps1
  scripts/audit-db-full.ps1
  scripts/check-secrets.ps1
Due: prettier --write, pnpm --dir packages/database exec eslint --fix --

feat: integração com API FIPE para busca de veículos
  apps/web/src/app/(app)/clientes/_components/vehicle-autocomplete.tsx
  apps/web/src/lib/fipe.ts
  pnpm-workspace.yaml
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(ci): atualizar pnpm de v9 para v10 no workflow
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): regenerar pnpm-lock.yaml do zero para resolver overrides mismatch
  pnpm-lock.yaml
Due: prettier --write

fix(ci): regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

chore: sync pnpm lockfile
  pnpm-lock.yaml
Due: prettier --write

fix(lint): normalize line endings
  .env.test
Due: none

style: aplicar formatação Prettier em todo o projeto
  apps/api/tsconfig.json
  docker-compose.yml
  pnpm-workspace.yaml
Due: prettier --write

chore: ignore .env.test
  .env.test
Due: none

chore(husky): remove deprecated shim from pre-push
  .husky/pre-push
Due: none

chore: enforce line endings via gitattributes
  .gitattributes
Due: none

chore: remove backup files and update gitignore
  .gitignore
Due: none

chore: cleanup backups and improve typescript config
  .gitignore
  apps/api/tsconfig.json
  tsconfig.base.json
Due: prettier --write

ci: add GitHub Actions workflow for CI/CD
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): remove hardcoded pnpm version to use packageManager field
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): build shared packages before typecheck
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): remove lint from CI, keep typecheck and build only
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add env vars setup for Next.js build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): add environment variables and update gitignore
  .github/workflows/ci.yml
  .gitignore
  apps/web/.env.example
Due: prettier --write

refactor(prisma): migrar schema para padrão oficial PascalCase
  apps/api/src/app.module.ts
  apps/api/src/drivers/drivers.service.ts
  apps/api/src/modules/clients/clients.controller.ts
  apps/api/src/modules/clients/clients.service.ts.backup
  apps/api/src/modules/clients/dto/create-client.dto.ts
  apps/api/src/modules/clients/dto/filter-client.dto.ts
  apps/api/src/modules/clients/entities/client.entity.ts
  apps/api/src/modules/drivers/drivers.controller.ts
  apps/api/src/modules/drivers/drivers.module.ts
  apps/api/src/modules/drivers/drivers.service.ts
  apps/api/src/modules/drivers/dto/create-driver.dto.ts
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
  apps/api/src/modules/drivers/dto/update-driver.dto.ts
  apps/api/src/modules/drivers/entities/driver.entity.ts
  apps/api/src/modules/vehicles/entities/vehicle.entity.ts
  apps/api/src/modules/vehicles/vehicles.service.ts
  cleanup_drivers.sql
  packages/database/cleanup-drivers.ts
  packages/database/prisma/migrations/20260118220036_enhance_client_model/migration.sql
  packages/database/prisma/migrations/20260118220653_add_license_fields_back/migration.sql
  packages/database/prisma/migrations/20260118230829_update_drivers_soft_delete_audit/migration.sql
  packages/database/prisma/migrations/20260118232629_refactor_to_standard_prisma_complete/migration.sql
  packages/database/prisma/migrations/20260118234058_add_contract_model/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/prisma/schema.prisma.old
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(drivers): remove unused variables from controller
  apps/api/src/modules/drivers/drivers.controller.ts
  apps/api/src/modules/drivers/drivers.service.ts
  packages/database/prisma/migrations/20260119042241_make_driver_client_optional/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(drivers): implement complete drivers module with full CRUD
  apps/api/src/app.module.ts
  apps/api/src/modules/drivers/drivers.controller.ts
  apps/api/src/modules/drivers/drivers.module.ts
  apps/api/src/modules/drivers/drivers.service.ts
  apps/api/src/modules/drivers/dto/create-driver.dto.ts
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
  apps/api/src/modules/drivers/dto/update-driver.dto.ts
  apps/api/src/modules/drivers/entities/driver.entity.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(drivers): implementar migração de motoristas e rota POST /drivers/:id/migrate
  apps/api/src/modules/drivers/drivers.controller.ts
  apps/api/src/modules/drivers/drivers.service.ts
  test-migration.ps1
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(drivers): corrigir lógica de detecção de CNH duplicada e validação de datas
  apps/api/src/modules/drivers/drivers.service.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(drivers): adicionar MigrateDriverDto para validação de migração
  apps/api/src/modules/drivers/dto/migrate-driver.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

refactor(drivers): melhorar endpoint de migração com DTO e documentação Swagger
  apps/api/src/modules/drivers/drivers.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

test(sql): adicionar script completo de teste de migração de motoristas
  scripts/test-driver-migration.sql
Due: none

feat(frontend): adicionar modal completo de migração de motoristas
  apps/web/src/components/modals/DriverMigrationModal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

docs(frontend): adicionar exemplo de integração do modal de migração
  apps/web/src/components/drivers/DriverForm.example.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

docs: adicionar documentação completa do sistema de migração de motoristas
  docs/DRIVER_MIGRATION.md
Due: prettier --write

fix(drivers): adicionar paginação ao FilterDriverDto
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(drivers): adicionar @ApiQuery para page e limit no controller
  apps/api/src/modules/drivers/drivers.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(api): habilitar conversão implícita de tipos no ValidationPipe
  apps/api/src/main.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(api): reordenar decorators no FilterDriverDto
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

debug(api): adicionar logs detalhados no DriversController
  apps/api/src/modules/drivers/drivers.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(api): reordenar propriedades do FilterDriverDto
  apps/api/src/modules/drivers/dto/filter-driver.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

debug(api): adicionar logger global para erros de validação
  apps/api/src/main.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat(clients): implement client search endpoint and fix listing response format
  apps/api/src/main.ts
  apps/api/src/modules/clients/clients.controller.ts
  apps/api/src/modules/clients/clients.service.ts
  apps/api/src/modules/clients/dto/create-client.dto.ts
  apps/web/package.json
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --

Path conditions:
  prettier --write: (any of: *.{json,md,yml,yaml,css}) or (any of: *.{js,jsx,ts,tsx})
  pnpm --dir apps/web exec eslint --fix --: any of: apps/web/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir apps/api exec eslint --fix --: any of: apps/api/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir packages/database exec eslint --fix --: any of: packages/database/src/**/*.{js,jsx,ts,tsx}
  pnpm --dir packages/shared exec eslint --fix --: any of: packages/shared/src/**/*.{js,jsx,ts,tsx}
