Repository AdairBento/mag-system-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir apps/api exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

.lintstagedrc.json:

{
  "*.{json,md,yml,yaml,css}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["prettier --write"],

  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/web exec eslint --fix --"],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir apps/api exec eslint --fix --"],
  "packages/database/src/**/*.{js,jsx,ts,tsx}": [
    "pnpm --dir packages/database exec eslint --fix --"
  ],
  "packages/shared/src/**/*.{js,jsx,ts,tsx}": ["pnpm --dir packages/shared exec eslint --fix --"]
}

fix: adicionar @prisma/client faltante
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: adicionar @prisma/client faltante
  apps/api/logs/combined.log
  apps/api/logs/error.log
  apps/api/logs/exceptions.log
  apps/api/logs/rejections.log
Due: none

feat: adicionar testes em todos os workspaces
  apps/web/jest.config.cjs
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/src/__tests__/example.test.tsx
  packages/database/jest.config.cjs
  packages/database/package.json
  packages/database/src/__tests__/prisma.test.ts
  packages/database/tsconfig.json
  packages/shared/jest.config.cjs
  packages/shared/package.json
  packages/shared/src/__tests__/utils.test.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --, pnpm --dir packages/database exec eslint --fix --, pnpm --dir packages/shared exec eslint --fix --

fix(web): corrigir tipos e queries em módulos de gestão
  analyze-errors.ps1
  apps/web/jest.config.cjs
  apps/web/src/__tests__/example.test.tsx
  apps/web/src/app/(app)/clientes/_components/vehicle-autocomplete.tsx
  apps/web/src/app/(app)/diagnostico/page.tsx
  apps/web/src/app/(app)/financeiro/page.tsx
  apps/web/src/app/(app)/locacoes/page.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx
  apps/web/src/app/(app)/veiculos/page.tsx
  apps/web/src/components/clients/ClientsPage.tsx
  apps/web/src/hooks/useTranslation.ts
  apps/web/src/lib/api/vehicles.ts
  apps/web/src/types/vehicle.ts
  apps/web/tsconfig.json
  audit-lint.txt
  audit-typecheck.txt
  fix-all-types.ps1
  fix-cirurgico-7-erros.ps1
  fix-cirurgico-final.ps1
  fix-definitivo.ps1
  fix-fipe-padronizacao.ps1
  fix-ultra-preciso.ps1
  packages/database/jest.config.cjs
  packages/shared/jest.config.cjs
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix: corrige integração frontend com API de clientes
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
  apps/web/src/app/(app)/clientes/page.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-autocomplete.tsx
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_20260120_035100
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_auto
  apps/web/src/app/(app)/veiculos/_components/vehicle-form-modal.tsx.backup_fipe
  apps/web/src/lib/api/clients.ts
  apps/web/src/lib/api/http.ts
  apps/web/src/types/client.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(web): corrige carregamento de dados ao editar cliente
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(web): corrige exibição de telefone na tabela de clientes
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

refactor(api): reorganiza estrutura do módulo auth
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/decorators/current-user.decorator.ts
  apps/api/src/auth/dto/login.dto.ts
  apps/api/src/auth/dto/register.dto.ts
  apps/api/src/auth/jwt.strategy.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/decorators/public.decorator.ts
  apps/api/src/modules/auth/decorators/roles.decorator.ts
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(web): corrige modal de edição de cliente sumindo dados
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(web): melhora tratamento de erros e logs na mutation de clientes
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(web): corrige TODOS os campos do DTO de clientes
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(ci): corrige ordem de build e adiciona geração do Prisma Client
  .github/workflows/ci.yml
Due: prettier --write

fix(api): adiciona paths no tsconfig para resolver workspaces
  apps/api/tsconfig.json
Due: prettier --write

fix(api): corrige paths do tsconfig para apontar para src
  apps/api/tsconfig.json
Due: prettier --write

fix(web): corrige lógica de reset do formulário de cliente
  apps/web/src/app/(app)/clientes/_components/client-form-modal.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

fix(ci): remove typecheck separado e usa apenas build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): corrige ordem de build e remove typecheck separado
  .github/workflows/ci.yml
Due: prettier --write

feat(scripts): adiciona script de correção automática de bugs do módulo clientes
  scripts/fix-clientes-bugs.ps1
Due: none

fix(api): adiciona paths para @mag/shared no tsconfig base
  tsconfig.base.json
Due: prettier --write

fix(api): ajusta tsconfig.build para usar paths compartilhados
  apps/api/tsconfig.build.json
Due: prettier --write

fix(rentals): add pagination support to FilterRentalDto
  apps/api/src/modules/rentals/dto/filter-rental.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

feat: adicionar páginas vazias (Multas, Sinistros, Seguros, Manutenção, Vistorias, Relatórios, Configurações, Comunicação)
  apps/web/src/app/(dashboard)/comunicacao/page.tsx
  apps/web/src/app/(dashboard)/configuracoes/page.tsx
  apps/web/src/app/(dashboard)/manutencao/page.tsx
  apps/web/src/app/(dashboard)/multas/page.tsx
  apps/web/src/app/(dashboard)/relatorios/page.tsx
  apps/web/src/app/(dashboard)/seguros/page.tsx
  apps/web/src/app/(dashboard)/sinistros/page.tsx
  apps/web/src/app/(dashboard)/vistorias/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat: adiciona páginas de dashboard e ajustes em CI
  .github/workflows/ci.yml
  apps/api/tsconfig.json
  apps/web/components.json
  apps/web/src/app/(dashboard)/comunicacao/page.tsx
  apps/web/src/app/(dashboard)/configuracoes/page.tsx
  apps/web/src/app/(dashboard)/manutencao/page.tsx
  apps/web/src/app/(dashboard)/multas/page.tsx
  apps/web/src/app/(dashboard)/relatorios/page.tsx
  apps/web/src/app/(dashboard)/seguros/page.tsx
  apps/web/src/app/(dashboard)/sinistros/page.tsx
  apps/web/src/app/(dashboard)/vistorias/page.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/table.tsx
  src/lib/utils.ts
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(decorators): add @CurrentUser() decorator to extract userId from JWT
  apps/api/src/common/decorators/current-user.decorator.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(clients): add authentication, authorization and @CurrentUser decorator
  apps/api/src/modules/clients/clients.controller.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(frontend): correct phone field mapping for clients and drivers
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

feat(validators): create CPF and CNPJ custom validators
  apps/api/src/common/validators/cpf-cnpj.validator.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(clients): add CPF/CNPJ validation and standardize DTO fields to English
  apps/api/src/modules/clients/dto/create-client.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

fix(clients): standardize update-client.dto.ts with CPF/CNPJ validation
  apps/api/src/modules/clients/dto/update-client.dto.ts
Due: prettier --write, pnpm --dir apps/api exec eslint --fix --

test(clients): add missing E2E tests for search, restore, and forceDelete
  apps/api/test/e2e/clients.e2e-spec.ts
Due: prettier --write

fix(frontend): add proper 409 error handling for client duplicates
  apps/web/src/app/(app)/clientes/page.tsx
Due: prettier --write, pnpm --dir apps/web exec eslint --fix --

chore: add SQL script to debug client duplication issue
  scripts/debug-clients.sql
Due: none
